h1 {
    color: red;
  }
  p {
    color: green;
  }
  H3 {
    color:blue;
  }
footer {
    color: yellowgreen;
}  

figure {
    border: 4px solid blanchedalmond;
    padding: 10px;
    margin: 15px;
}