h1 {
    color: red;
  }
  p {
    color: green;
  }
  H3 {
    color:blue;
  }
footer {
    color: yellowgreen;
}  

figure {
  /* for  photos */
  float: right;
margin-top: 0px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
}